<table id="users" class="table table-hover">
  <thead>
    <tr>
      <th width="50%">Email</th>
      <th width="30%">Administrador?</th>
      <th width="20%"></th>
    </tr>
  </thead>
  <tbody id="list">
   <%= render 'list_users' %>
  </tbody>
</table>
